*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

#about-container{
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    animation: fadeIn 1.5s ease-in-out;
    background-color: #fff;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#brand{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#brand img {
    height: 200px;
    margin-right: 1rem;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#exclusive {
    text-transform: uppercase;
    color: #0075ff;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

#about-container h2 {
    font-size: 2.4rem;
    max-width: 500px;
    margin-bottom: 1rem;
    color: #0075ff;
}

#date {
    text-transform: uppercase;
    color: #aaa;
    margin-bottom: 1rem;
}

#description {
    max-width: 500px;
    margin-bottom: 1rem;
    line-height: 1.4rem;
}

#about-container h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;

}

#user-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    animation: slideInUp 1.8s ease;
}
.user-card {
    border: solid #ccc;
    padding: 1.5rem;
    width: 100%;
    max-width: 300px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border-radius: 10px;
    margin: 0 auto;
}

.user-card:hover {
    transform: translateY(-10px);
}

.user-card img {
    width: 120px;
    border-radius: 47%;
    margin-bottom: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.user-card .user-name {
    font-weight: bold;
    margin-bottom: 0.6rem;
}
.user-card .user-role{
    color: #777;
    font-size: 0.9rem;
    font-style: serif;
}

#form-container{
    width: 100%;
    max-width: 1200px;
    background: url("../img/Tudo\ que\ você\ precisa\ saber\ sobre\ fotografia.jpg") no-repeat center center/cover;
    color: #fff;
    animation: fadeInUp 1.5s ease-in-out;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 10px;
}

#form-inner {
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    text-align: center;
}

#form-inner h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
}
#register-form input {
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    outline: none;
}

#benefits h4 {
    margin-top: 1rem;
    text-align: center;
    color: #fff;
}

#benefits ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#register-form input[type="submit"] {
    background-color: #0075ff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#register-form input[type="submit"]:hover {
    background-color: #005bb5;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideInUp {
    from { transform: translateY(100px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@media (max-width: 450px) {
    
    #about-container {
        padding: 1rem;
        margin-bottom: 1rem;
        
    }
    #brand {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #form-inner {
        padding: 2rem;
    }

    #form-inner h3 {
        font-size: 1.6rem;
    }

    .user-card {
        padding: 2rem;
    }

    .user-card img {
        width: 180px;
    }

    .user-card .user-name {
        font-size: 1.6rem;
    }

    .user-card .user-role {
        font-size: 1.4rem;
    }

    .user-card .user-description {
        font-size: 0.8rem;
    }

    #register-form input {
        padding: 0.8rem;
        margin-bottom: 0.8rem;
    }

    #register-form input[type="submit"] {
        padding: 0.8rem;
    }

    #benefits {
        font-size: 0.8rem;
    }

    #benefits h4 {
        font-size: 1.2rem;
    }

    #benefits ul {
        margin-top: 1rem;
    }

    #benefits li {
        margin-bottom: 0.5rem;
    }

    #benefits li:before {
        font-size: 0.8rem;
    }
}